body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
  }
  
  .clock {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .time {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time > div {
    padding: 10px;
  }
  
  .date {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
  }
  